@charset "UTF-8";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 400px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.title {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 8px;
	font-size: 30px;
}

.form-intro {
	padding: 20px;
	width: 300px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 5px;
	font-size: 20px;
}

.form-btn {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.btn {
	font-size: 17px;
	border: 1px solid #4D504F;
	line-height: 0;
	border-radius: 8px;
	height: 30px;
	width: 50px;
	text-align: center;
	background-color: #E7FCF7;
}

.btn:hover {
	background-color: #BCEBE0;
	cursor: pointer;
}

.form-group input {
	margin-bottom: 10px;
	height: 30px;
	border-radius: 8px;
	padding: 0 5px;
	font-size: 18px;
	line-height: 0;
	border: 2px solid #4D504F;
}

.form-group input:focus {
	background-color: #c8ebe2;
}

section {
	margin: 0 !important;
}